@{
    ViewData["Title"] = "Point";
}

@model IEnumerable<PointViewModel>
@{
    ViewData["Title"] = "Xem Điểm";
}

<h1>Điểm sinh viên có mã </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Môn Học
            </th>
            <th>
                Mã Lớp Học Phần
            </th>
            <th>
                Học Kỳ
            </th>
            <th>
                Năm Học
            </th>
            <th>
                Điểm Giữa Kỳ
            </th>
            <th>
                Điểm Cuối Kỳ
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @item.MonHoc
                </td>
                <td>
                    @item.MaLHP
                </td>
                <td>
                    @item.HocKy
                </td>
                <td>
                    @item.NamHoc
                </td>
                <td>
                    @item.DiemGK
                </td>
                <td>
                    @item.DiemCK
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index">Quay lại</a>